---
import Layout from "../layouts/Layout.astro";
import Button from "../components/Button.astro";
import DownloadIcon from "../icons/DownloadIcon.astro";
import LinkIcon from "../icons/LinkIcon.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <div id="form" class="flex flex-col justify-center items-center w-full">
      <img class="mb-8 w-44" src="/images/logo-qr-generator.svg" alt="" />
      <div
        class="flex p-1.5 rounded-2xl bg-[#080c17] border-2 border-[#3662E3] w-full"
      >
        <input
          class="bg-transparent w-full py-3 px-6 text-white placeholder:text-gray-600 placeholder:text-sm hover:outline-none hover:shadow-0 outline-none shadow-0"
          type="url"
          placeholder="Enter an url"
        />
        <button
          class="py-2 px-9 bg-[#3662E3] text-white rounded-xl text-sm text-nowrap"
          >QR Code</button
        >
      </div>
    </div>
    <div id="qr-container" class="flex flex-col justify-center items-center w-full" style="display: none;">
      <div id="qrcode" class="p-8 bg-white w-full max-w-[250px] rounded-3xl relative mb-20"></div>
      <div class="flex justify-center items-center gap-6">
        <Button id="downloadButton">Download<DownloadIcon class="size-4"/></Button> 
        <Button id="copyButton">Share<LinkIcon class="size-4"/></Button> 
      </div>
    <div/>
  </main>
</Layout>

<style>
  main {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 550px;
  }
  #qrcode::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    width: 125%;
    height: 125%;
    background: #4e80ee33;
    z-index: -1;
  }
</style>

<script type="text/javascript">
  // Load QRCode library
  const script = document.createElement("script");
  script.src = "https://cdn.jsdelivr.net/npm/qrcodejs/qrcode.min.js";
  document.head.appendChild(script);

  // Check DOM is fully loaded
  document.addEventListener("DOMContentLoaded", function () {
    const input = document.querySelector("input");
    const button = document.querySelector("button");
    const qrcode = document.getElementById("qrcode");
    const form = document.getElementById("form");
    const qrContainer = document.getElementById("qr-container");
    const downloadButton = document.getElementById("downloadButton");
    const copyButton = document.getElementById("copyButton");

    button.addEventListener("click", function () {
      qrcode.innerHTML = "";
      new QRCode(qrcode, input.value, {
        width: 100,
        height: 100,
      });
      form.style.display = "none";
      qrContainer.style.display = "flex";
    });

    downloadButton.addEventListener("click", function () {
      const canvas = document.querySelector("canvas");
      const image = canvas.toDataURL("image/png");
      const link = document.createElement("a");
      link.href = image;
      link.download = "qrcode.png";
      link.click();
    });

    copyButton.addEventListener("click", function () {
      navigator.clipboard.writeText(input.value);
    });
  });



</script>
