---
interface Props {
  id: string;
}
const { id } = Astro.props;
---

<button id={id} class="flex justify-center items-center gap-4 text-white text-base
  bg-[#3662E3] rounded-xl px-10 py-4 
">
  <slot />
</button>